.text-yellow {
  font-size: 1.6em;
  color: $colro-yellow;
}
.background-gradient {
  padding: 80px 0;
  position: relative;
  background: linear-gradient(270deg, $color-silver 36%, $color-white 100%);

  &::after,
  &::before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    z-index: 1;
  }

  &::before {
    border-top: 80px solid white;
    border-right: 98.5vw solid transparent;
    top: 0;
  }

  &::after {
    border-bottom: 80px solid white;
    border-left: 98.5vw solid transparent;
    bottom: 0;
  }
}
