.modal-info {
  @include breakpoint($bp-sm) {
    font-size: 3vw;
  }
  @include breakpoint($bp-xs) {
    font-size: 4vw;
  }

  & .modal-content {
    border-radius: 0;
    border: none;
    padding: 2.5em 2.8em;

    position: relative;
  }

  & .modal-header {
    padding: 0;
    border: none;
    font-weight: 700;
    flex-direction: column;
    margin-bottom: 2em;
    h2 {
      @include breakpoint($bp-lg) {
        font-size: 2em;
      }
    }
    h5 {
      font-size: 1.875em;

      &.--lg {
        font-size: 2.1em;
        font-weight: 600;

        b {
          display: block;
          font-size: 0.7em;
          font-weight: 600;
          line-height: 1.1;
        }
      }
    }

    p {
      font-weight: 400;
      margin-top: 1em;
    }
  }

  & .modal-body {
    padding: 0;
    font-size: 0.875em;
    font-weight: 300;

    p {
      margin-top: 1.2em;

      span {
        text-decoration: underline;
      }
    }
  }

  & .btn-close {
    position: absolute;
    top: 1em;
    right: 1em;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  form {
    & > * {
      display: block;
      margin-top: 1em;
      width: 100%;
    }
  }

  & .body-our-work {
    display: flex;
    justify-content: space-between;
    margin: -0.5em;

    div {
      white-space: normal;
      display: inline-block;
      width: 33.33333%;
    }
    img {
      width: 100%;
      border-radius: 1em;
      padding: 0.5em;
    }
  }
  & .body-coloration {
    &-inner {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin: -0.5%;
      margin-bottom: 2.5em;
      @include breakpoint($bp-md) {
        margin: -1%;
        margin-bottom: 2.5em;
      }
      img {
        display: none;
      }

      div {
        width: 32.333%;
        position: relative;
        border-radius: 0.6em;
        margin: 0.5%;
        overflow: hidden;

        @include breakpoint($bp-md) {
          margin: 1%;
          width: 48%;
        }
        @include breakpoint($bp-sm) {
          margin: 1%;
        }
        span {
          font-size: 1.25em;
          position: absolute;
          color: $color-white;
          opacity: 0;
          text-align: center;
          font-weight: 500;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 3;
          transition: opacity 0.3s ease;
          @include breakpoint($bp-md) {
            font-size: 1em;
          }
        }

        &::before {
          content: "";
          display: block;
          padding-top: 75%;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          z-index: 2;
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 0;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          transition: opacity 0.3s ease;
        }

        img {
          display: block;
          position: absolute;
          border-radius: 0.6em;
          top: 0;
          right: 0;
          left: 0;

          width: 100%;
          height: 100%;

          object-fit: cover;

          z-index: 1;
        }

        &:hover {
          span {
            opacity: 1;
          }

          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}
