.info {
  position: relative;
  margin-top: -6.25em;
  display: flex;
  justify-content: center;
  &__inner {
    margin: 1em 1em 3em 1em;
    background-color: $color-white;
    box-shadow: 0px 0.9375em 3.125em 0 rgb(0 0 0 / 10%);
    padding: 2.7em;
    padding-bottom: 2.3em;
    border-radius: 3.125em 0 3.125em 3.125em;
    min-width: 60vw;
    @include breakpoint($bp-xxl) {
      min-width: 80vw;
      padding: 2.5em;
    }
    @include breakpoint($bp-md) {
      min-width: 90vw;
    }
    h3 {
      text-align: center;
      white-space: nowrap;
      font-size: 1.125em;
      line-height: 1.6;
      @include breakpoint($bp-lg) {
        font-size: 0.9em;
      }
    }
  }
}
